<div class="max-w-3xl mx-auto px-4 my-16">
  <div class="flex items-center justify-between pb-6 border-b dark:border-slate-700">
    <h1 class="h2">Events</h1>
    <div class="flex items-center justify-end">
      <%= link_to "New Event", new_event_path, class: "btn btn-primary" %>
    </div>
  </div>

  <div id="events" class="divide-y divide-slate-200 dark:divide-slate-700 mb-10">
  <% @events.each do |event| %>
    <%= render event %>
  <% end %>
</div>

</div>
