<ul class="lg:flex block items-center flex-wrap lg:gap-3">
  <li><%= nav_link_to "Calendar", calendar_path, class: "rui-nav-link" %></li>
  <li><%= nav_link_to "Resource List", resource_list_path, class: "rui-nav-link" %></li>
  <li><%= nav_link_to "Messages", messages_path, class: "rui-nav-link" %></li>
  <li><%= nav_link_to "Profile", profile_path, class: "rui-nav-link" %></li>
</ul>
